
      <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>
  {% with messages=get_flashed_messages() %}
  {% if messages %}
  {% for msg in messages %}
  {{msg}} {{r.name}}
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  </h2><br><br>
  
  <table class="table" border=1>
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in r %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
  
        <td><button type="button" class="btn btn-success"><a href="{{url_for('editData',register_id=i.id)}}" style="color: white;">Edit</button></td>
        <td><button type="button" class="btn btn-success"><a href="{{url_for('deleteData',register_id=i.id)}}" style="color: white;">Delete</button></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

  <button type="button" class="btn btn-success"><a href="/New" style="color: white;">AddNewData</a></button>

  

</div>

</body>
</html>

